/* ... (Existing styles) */
body.dark-scheme {
    background-color: #333;
    color: #eee;
}
body.light-scheme {
    background-color: #eee;
    color: #333;
}
#display {
    color: #333; /* Default display text color */
}
#calculator {
    background-color: #fff; /* Default calculator background color */
    padding: 10px;
    border-radius: 5px;
}
#currentExpressionDisplay{
    height:20px;
    margin-bottom: 10px;
}