/* ... (Existing styles) */

#calculator {
    /* ... (Existing calculator styles) */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px; /* Adjust as needed */
    margin: 0 auto;
}

#history {
    grid-column: span 4;
    overflow-y: auto;
    max-height: 100px;
    border: 1px solid #ccc;
    margin-top: 10px;
    display: none; /* Initially hidden */
}
#currentExpressionDisplay {
    grid-column: span 4;
    text-align: right; /* Align the expression to the right */
    font-size: 14px;
    color: #666; /* Slightly lighter color */
    margin-bottom: 5px; 
  }

/* Initially hide scientific buttons */
.scientific {
  display: none;
}

#keyboard-container {
  grid-column: span 4;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
.keyboard{
display:grid;
 grid-template-columns:repeat(4,1fr);
 grid-gap:5px;
}
.keyboard button {
width: 100%;
padding: 10px;
box-sizing: border-box;
}

#message-container {
    grid-column: span 4; /* Span across all columns */
    margin-top: 10px;
    text-align: center;
  }

#round-to-n-input {
  width: 100px;
  margin: 5px auto; /* Center the input */
}