name: auto add

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

permissions:
  pull-requests: write
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Configure Git user (local only)
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Install packages
        run: bun install

      - name: Run auto-add
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          GH_APPID: ${{ secrets.GH_APPID }}
          GH_PRIVATE_KEY: ${{ secrets.GH_PRIVATE_KEY }}
          GH_CLIENT_ID: ${{ secrets.GH_CLIENT_ID }}
          GH_CLIENT_SECRET: ${{ secrets.GH_CLIENT_SECRET }}
          GH_INSTALLATION_ID: ${{ secrets.GH_INSTALLATION_ID }}
        run: bun run git.ts
